dist
node_modules
*.c
*~
*.jpg
*.gif
*.exe
*.cs
*.out
*.zip
ext
*.mp4
*.webm
yarn.lock
out
*.data
ext.js
core.js
rollup.config.js
.vscode/settings.json
key.pem
chrome.pem
1641560780544.png
1642033228102.png
a.png
converted.png
cuck.png
dd.png
f106d2459fc348494ae39e33c0905e885f3fe6b4ae7d1f8dc171ad85b94132b1.png
file.png
index.html
localstorage.html
out.png
rtlt7x.png
test.png
chrome/1449696017588.png
firefox/1449696017588.png
rev/index.html
rev/out.png
1641737123922.png
1449696017588-128.png
